/* Designed for use with this pallette:
 * http://paletton.com/palette.php?uid=52A0u0kktlza1w0fgqCpagIuGbk
 */

/* Keep everything organized and centered */
html, body { height: 100%; }

* { text-align: center }

header, footer, main {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

header, footer {
  z-index: -1;
  color: #fff;
  background-color: #639937;
}

header { top: 0; }

main{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
}

footer { bottom: 0; }

/* Pallette-colored pretty buttons */
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #BCE39C;
  font-size: 39px;
  background: #447719;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #265003;
  text-decoration: none;
}

.hide { display: none;}
.show { display: block;}

h2#status.win{
}

h2#status.lose{
}

h2#status.tie{
}
